/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}


.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(90vh - 60px); 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0 20px; 
}

.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-side img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-container {
  flex: 1;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
}

h1.multi-color-text {
  text-align: center;
  background: -webkit-linear-gradient(45deg, #ff6f61, #de4463, #8f8ce7, #28b487);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.form-text {
  display: block;
  margin-top: 5px;
  color: #6c757d;
}

.form-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8c7569;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-submit:hover {
  background-color: #218c74;
}

.have-account {
  text-align: center;
  margin-top: 20px;
}

.have-account a {
  color: #007bff;
  text-decoration: none;
}

.have-account a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    height: auto;
  }

  .image-side img {
    border-radius: 10px 10px 0 0;
  }

  .form-container {
    border-radius: 0 0 10px 10px;
  }
}
 
